body{
    color:#333;
    font-size:16px;
}
.tuition_banner{
    width:100%;height:500px;
    background:url(../image/tuition/banner.jpg) no-repeat center;
}
.tuition_part1{
    width:100%;
    background:#f0f0f0;
    padding-bottom:50px;
}
.tuition_part1_top>h3{
    text-align: center;
    font-size: 34px;
    font-weight:bold;
    padding:80px 0 30px;
}
.tuition_part1_content{
    width:960px;
    margin:auto;
    padding:20px;
    background:#fff;
}
.tuition_part1_content::after{
    content:"";
    display: block;
    clear:both;
}
.tuition_part1_content>img{
    float:left;
}
.part1_btn{
    float:left;
    width:480px;
    margin-left:60px;
}
.part1_btn_list1>h4{
    line-height: 30px;
    font-size:18px;
    font-weight:bold;
    padding-left:40px;
    margin:15px 0;
    position:relative;
}
.part1_btn_list1>h4::before{
    content: "";
    display: block;
    position:absolute;
    left:0;
    width:28px;height:30px;
    background:url(../image/tuition/part4-icon01.png) no-repeat;
}
.part1_btn_list1::after{
    content:"";
    display: block;
    clear: both;
}
.part1_btn_list2>h4::before{
    background:url(../image/tuition/part4-icon02.png) no-repeat;
}
.part1_btn_list1>ul{
    margin-left:65px;
}
.part1_btn_list1>ul>li{
    float:left;
    width:33%;
    height:40px;
    font-size:16px;
    color:#333;
    padding-left:30px;
    line-height: 32px;
    position:relative;
}
.part1_btn_list1>ul>li::before{
    content:"";
    width:22px;
    height:22px;
    border:1px solid #999;
    border-radius: 3px;
    position:absolute;
    left:0;
    top:6px;
}
.part1_btn_btn{
    width:460px;
    margin:auto;
    margin-top:20px;
}
.part1_btn_btn::after{
    content:"";
    display: block;
    clear:both;
}
.part1_btn_btn>input{
    width:326px;height:44px;
    line-height: 44px;
    color:#999;
    font-size:14px;
    float:left;
    text-indent: 60px;
    background:#f7f7f7 url(../image/tuition/phone.png) no-repeat 20px;
    border:1px solid #999;
    border-radius:3px 0 0 3px;
}
.part1_btn_btn>.pg{
    float:left;
    margin-left:-20px;
    width:120px;
    background:#86c138;
    height:44px;
    line-height:44px;
    text-align:center;
    border-radius:5px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    cursor: pointer;
}
.part1_tip{
    width:460px;
    margin:auto;
}
.tip0{
    width:250px;
    margin:auto;
    padding-top:20px;
}
.tip1{
    float:left;
    width:18px;
    height:18px;
    border:1px solid #999;
    border-radius:2px;
    margin-top:3px;
    cursor: pointer;
    position: relative;
}
.tip1>img{
    position:absolute;
    left:0;
}
.tip2{
    float:left;
    font-size: 14px;
    color:#999;
    margin-left:10px;
}
.tip2 a{
    font-size: 14px;
    color:#999;
}
.tuition_part2{
    padding:50px 0;
    background:#fff;
}
.tuition_part2_title{
    margin:20px 0 10px;
}
.tuition_part2_title>h2{
    text-align:center;
    font-size:34px;
    font-weight:bold;
}
.tuition_part2_content{
    position:relative;
    width:1200px;
    margin:auto;
}
.tuition_part2_content::after{
    content:"";
    display: block;
    clear:both;
}
.part2_line{
    width:1px;height:840px;
    position:absolute;
    border-right: 1px dashed #56cdfc;
    top:38px;
    left:70px;
}
.part2_content_title{
    border:1px solid #68d3ff;
    border-radius:50px;
    margin-left:50px;
    width:200px;height:40px;
    line-height: 38px;
 }
.part2_content_title>h3{
    font-size:20px;
    color:#333;
    line-height: 38px;
    font-weight: bold;
 }
.part2_content_title>h3>span{
    display: inline-block;
    width:38px;height:38px;
    line_height:38px;
    background:#68d3ff;
    color:#fff;
    margin-right:10px;
    text-align:center;
    border-radius:50%;
 }
.part2_content_list{
    margin-left:100px;
    margin-top:20px;
}
.part2_content_list>p{
    color:#333;
    font-size:16px;
    line-height: 28px;
}
.part2_content_list>p>span{
    color:#86c138;
    font-weight: bold;
}
.part2_img{text-align:center;}
.part2_img>ul{
    width:971px;height:275px;margin:30px auto;
    background:url(../image/tuition/p1-img-tp.png) no-repeat center;}
.part2_img>ul>li{width:25%;height:275px;float:left;}
.part2_img>ul li div{
    background:#86c138;
    padding-bottom: 30px;display:none;}
.part2_img>ul li:hover div{display:block;}
.part2_img>ul>li>div>h4{
    float:none;color:#fff;
    text-align:center;font-size:20px;
    padding:30px 0 15px;font-weight: 400;}
.part2_img>ul>li>div>p{
    float:none;color:#fff;font-size:15px;
    padding:0 20px;margin-top:15px;text-align: left;}
.part2_img>img{margin:15px 0;}
.part2_btn{
    margin:45px auto 0;
    width:300px;height:48px;
    line-height:48px;
    background:#86c138;
    color:#fff;
    font-size:16px;
    text-align:center;
    border-radius:5px;
    cursor:pointer;
}
.title2{
    margin-top:70px;
}
.title2_top{
    margin-top:25px;
    margin-left:100px;
}
.title2_top>span{
    color:#86c138;
    font-weight:bold;
}
.title2_img{
    width:914px;height:151px;
    background:url(../image/tuition/part1-table-bg.jpg);
    margin:25px auto;
}
.title2_img table td{
    width:200px;height:50px;
    text-align:center;
    color:#666;
    position:relative;
}
.title2_img table td strong{
    color:#333;
}
.title2_img table td span{
    font-size:14px;
    position:absolute;
    top:22px;left:25px;
}
.title2_img table td .span1{
    font-size:14px;
    position:absolute;
    top:10px;right:-95px;
}
.tuition_part3{
    height:440px;
    background:url(../image/tuition/part2-bg01.jpg) no-repeat center;
}
.tuition_part3::before{
    content:"";
    display:table;
}
.t_part3_content{
    width:910px;
    margin:30px auto 0;
}
.t_part3_content::after{
    content:"";
    display: block;
    clear:both;
}
.p3_content_left{
    width:450px;
    float:left;
    padding:30px 40px;
    text-align: center;
}
.p3_content_left h3{
    font-size:18px;
    margin: 5px 0;
}
.p3_content_left h3>span{
    color:#86c138;
    font-weight:bold;
}
.p3_content_left h2{
    font-size:22px;
    font-weight:bold;
    margin:42px 0 58px;
}
.p3_content_left h2>span{
    color:#86c138;
    font-weight:bold;
}
.p3_con_list{
    width:400px;
    padding-left:35px;
}
.p3_con_list>ul>li{
    float:left;
    width:70%;
    text-align:left;
    margin-bottom:18px;
}
.p3_con_list>ul>li:nth-child(2){
    width:30%;
}
.p3_con_list>ul>li:nth-child(4){
    width:30%;
}
.p3_con_list>ul>li:nth-child(6){
    width:30%;
}
.p3_content_right{
    width:450px;
    float:left;
    padding:50px 0 0 100px;
    text-align: center;
}
.p3_content_right>h2{
    font-size: 34px;
    font-weight: bold;
    margin:30px 0;
    color:#fff;
    text-align: center;
}
.p3_input{
    border:1px solid #ccc;
    width:358px;
    height:44px;
    line-height:44px;
    border-radius:3px;
    color:#fff;
    text-indent:70px;
    background:url(../image/tuition/phone2.png) no-repeat 15px;
}
.tuition_part3_btn{
    width:360px;
    height:46px;
    line-height: 46px;
    color:#fff;
    background:#86c138;
    text-align: center;
    border-radius:5px;
    cursor: pointer;
    margin:20px 0;
}
.tip3{
    width:230px;
    margin-left:22%;
}
.tip3::before{
    content: "";
    display: block;
    float:left;
    width:18px;
    height:18px;
    margin-right:5px;
    border:1px solid #999;
    background:url(../image/tuition/chooseBtn01.png) no-repeat center;
}
.tuition_part4{
    background:#f0f0f0;
    padding:70px 0 60px;
}
.tuition_part4>h2{
    text-align:center;
    font-size:34px;
    font-weight:bold;
    padding-bottom:60px;
}
.p4_ul_li_left{
    float:left;
    width:374px;
    position:relative;
}
.tuition_part4>ul>li{
    width:910px;
    background:#fff;
    margin:0 auto 20px;
    box-shadow:5px 5px 15px rgba(0,0,0,.2);
}
.tuition_part4>ul>li::after{
    content:"";
    display: block;
    clear:both;
}
.p4_ul_li_left>h3{
    position:absolute;
    left:155px;
    bottom:0px;
    height:40px;
    line-height:40px;
    font-size:16px;
    color:#fff;
}
.p4_ul_li_right{
    width:536px;
    float:left;
    position:relative;
}
.p4_ul_li_right>img{
    position:absolute;
    top:0;
    left:10px;
}
.p4_ul_li_right>div{
    position:absolute;
    top:0;
    left:10px;
    color:#fff;
    width:46px;
    height:83px;
    text-align: center;
    font-size:22px;
    font-weight: bold;
    padding-top:9px;
}
.p4_ul_li_right>h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding:30px 0 20px;
}
.p4_ul_li_right>p{
    width:420px;
    margin-top:20px;
    margin-left:85px;
    padding-left:35px;
    background:url(../image/tuition/li-icon01.png)no-repeat;
}
.p4_ul_li_right>p::after{
    content:"";
    display: block;
    clear:both;
}
.p4_ul_li_right>p>span{
    float:left;
}
.p4_s1{
    font-weight: bold;
}
.p4_ul_li_left .p4_h3{
    left:85px;
}
.tuition_part5{
    background:#fff;
    padding-top:70px;
}
.tuition_part5::after{
    content:"";
    display: block;
    clear: both;
}
.tuition_part5>h2{
    display: block;
    font-size: 34px;
    margin-bottom: 50px;
    font-weight: bold;
    height:48px;
    line-height: 48px;
    text-align: center;
}
.tuition_part5>h2>span{
    color:#86c138;
}
.tuition_part5>h2>span>i{
    display: inline-block;
    width:48px;
    height:48px;
    font-style: normal;
    font-size: 38px;
    line-height: 48px;
    border:1px solid #86c138;
    border-radius:50%;
    margin:0 5px;
}
.p5_info{
    width:1200px;
    height:434px;
    margin:auto;
    background:url(../image/tuition/part6-img.png)no-repeat 170px;
}
.p5_info>ul{
    padding-left:530px;
    padding-top:50px;
}
.p5_info>ul>li::after{
    content: "";
    display: block;
    clear: both;
}
.p5_info>ul>li{
    margin-bottom:20px;
}
.p5_ul_li_left{
    width:38px;
    height:38px;
    color:#fff;
    float:left;
    text-align: center;
    line-height: 38px;
    background:url(../image/tuition/li-bg.png) no-repeat center;
}
.p5_ul_li_right{
    float:left;
    margin-left:15px;
    width: 585px;
}
.p5_ul_li_right>h3{
    font-size: 18px;
    color:#333;
    font-weight: bold;
    height:38px;
    line-height: 38px;
    margin-bottom:10px;
}
.p5_input{
    width:300px;
    color:#999;
    margin-top:15px;
    background:url(../image/tuition/phone3.png) no-repeat 15px;
}
.p5_ul_li_right>span{
    display: inline-block;
    width:140px;
    height:46px;
    line-height: 46px;
    background:#86c138;
    color:#fff;
    text-align: center;
    border-radius:5px;
    cursor: pointer;
}
.tip5{
    float:none;
    margin-top:15px;
}